html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Bai Jamjuree', sans-serif;
  width: 100%;
  background-image: url('/images/logo.svg'), url('/images/bg-header-mobile.png');
  background-repeat: no-repeat;
  background-position: top 130px left 50%, top;
  background-size:  125px, contain;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}

a:hover {
  color: #26BBA4;
}

/* Headings */
.heading {
  color: hsl(210, 10%, 33%);
  font-size: 2rem;
}

.sub-heading {
  color: hsl(210, 10%, 33%);
  font-size: 1.75rem;
}

.primary-text {
  color: hsl(201, 11%, 66%);
  font-size: 1rem;
  line-height: 1.7;
}

.workflow-title {
  margin-top: 20px;
  margin-bottom: 0;
  color: #4C545C;
}

.workflow-text {
  color: #9EABB2;
}

.snippets-heading {
  color: hsl(210, 10%, 33%);
}

.snippets-text {
  color: #9EABB2;
}


/* logo */
.logo {
  height: 363px;
}

#container {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

/* Introduction */
#introduction {
  margin-top: -4.25rem;
}

#introduction, #snippets, #access-clipboard, #workflow, #clipboard {
  margin-bottom: 10rem;
  padding: 0 2rem;
}

#introduction .primary-text {
  margin-bottom: 2rem;
}


.btn {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  margin: 10px 0 15px;
  border: none;
  width: 100%;
  max-width: 311px;
  height: 56px;
  font-size: 1rem;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(159, 159, 159, 0.503305), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  border-radius: 30px;
}

.btn-ios {
  background-color: hsl(171, 66%, 44%);
}

.btn-ios:hover, .btn-ios:focus {
  background-color: #2edbc1 ;
}

.btn.btn-mac {
  background-color: hsl(233, 100%, 69%);
}

.btn-mac:hover, .btn-mac:focus {
  background-color: #7484ff ;
}

/* SNIPPETS */

#snippets img {
  margin: 4rem 0 3.5rem 0;
  width: 100%;
  max-width: 752px;
}

.contents .snippets-heading {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.snippets-text {
  font-size: 1rem;
  margin-bottom: 3rem;
}

/* ACCESS CLIPBOARDS */

#access-clipboard {
  margin-bottom: 2.375rem;
}

#access-clipboard img {
  margin: 3rem 0;
  width: 100%;
  max-width: 750px;
}

/* WORKFLOW */

#workflow {
  margin-bottom: 6rem;
}

.outer {
  margin: 5.625rem 0 8.2rem;
}

.inner {
  margin-bottom: 4rem;
}

.inner:last-child {
  margin-bottom: 0;
}

.inner .sub-heading {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companies img {
  margin-bottom: 4.375rem;
}

/* CLIPBOARD */

#clipboard .txt-sm {
  padding: 0 0.1rem 1rem;
}

/* Footer */

.footer {
  height: 500px;
  background-color: rgb(158 171 178 / 10%);
  border-top: 2px solid #f4f4f4;
}

.footer-logo {
  width: 55px;
  margin: 52px 0 40px;
}

li {
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.sc-icon {
  margin-top: 1.5625rem;
  margin-right: 2.1875rem;
  cursor: pointer;
}

.sc-icon:last-child {
  margin-right: 0;
}

svg.sc-icon path:hover{
  fill: hsl(171, 66%, 44%);
}

/* ---------------------------------------------------------------------------------- */
/* Media Queries */
/* MIN WIDTH 690px */ 

@media (min-width: 690px) {
  html {
    font-size: 18px;
  }

  .btn {
    max-width: 230px;
    padding-bottom: 4px;
  }

  .btn-ios {
    margin-right: 1rem;
  }
}

@media (min-width: 978px) {
  body {
    background-image: url('/images/logo.svg'), url('/images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-position: top 131px left 50%, top;
    background-size: 125px, contain;
  }

  #introduction,
  #snippets .sub-heading, #snippets .primary-text,
  #access-clipboard .sub-heading,
  #access-clipboard .primary-text,
  #workflow .sub-heading,
  #clipboard {
    width: 730px;
    margin-left: auto;
    margin-right: auto;
  }

}

/* ---------------------------------------------------------------------------------- */
/* MIN WIDTH 1024px */
@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }

  .btn {
    font-size: 0.8rem;
  }
}

/* ---------------------------------------------------------------------------------- */
/* MIN WIDTH 1440px */ 

@media (min-width: 1440px) {
  html {
    font-size: 23px;
  }

  /* Heading */
  .heading {
    font-size: 1.95rem;
  }

  .sub-heading {
    font-size: 1.63rem;
  }

  .primary-text {
    font-size: 0.7826rem;
  }

  #introduction, #snippets, #access-clipboard, #workflow, #clipboard {
    box-sizing: border-box;
    margin-bottom: 6.521rem;
    padding: 0;
  }

  #introduction .primary-text {
    font-size: 0.8695rem;
  }

  .btn {
    margin: 48px 8px;
  }

  /* SNIPPETS */

  .snippets-content {
    display: flex;
    text-align: left;
    position: relative;
    left: -32px;
    margin-top: 2.7rem;
  }

  .contents {
    width: 350px;
    margin-top: -2rem;
    align-self: center;
    margin-left: 4.782rem;
  }

  .contents .snippets-heading {
    font-size: 1.04rem;
    margin: 0;
  }

  .snippets-text {
    font-size: 0.6956rem;
    line-height: 30px;
    margin-bottom: 2.434rem;
  }

  .snippets-text:last-child {
    margin-bottom: 0;
  }

  /* Access Clipboard */

  #access-clipboard {
    margin-bottom: 2rem;
  }

  #access-clipboard img {
    max-width: 812px;
  }

  /* Workflow */

  .workflow-title {
    font-size: 1.04rem;
  }

  .workflow-text {
    font-size: 0.6956rem;
  }

  .outer {
    width: 1110px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .inner {
    flex: 1 350px;
  }

  .inner:nth-of-type(2) {
    margin: 0 1.3rem;
  }

  .companies {
    width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  /* Clipboard */

  #clipboard .primary-text {
    font-size: 0.8rem;
    /* padding: 0 11rem; */
  }

  /* Footer */

  .footer {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.7rem 0;
  }

  .footer-logo-container {
    flex: 1;
  }

  ul {
    height: 100px;
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  li {
    height: 50%;
    margin-bottom: 0;
  }

  .social-media {
    margin-bottom: 1rem;
    flex: 1;
  }

  .sc-icon {
    margin: 0 0.8rem;
  }
}

/* ---------------------------------------------------------------------------------- */
/* MIN WIDTH 1600px */ 

@media (min-width:1700px) {
  .snippets-content {
    justify-content: center;
  }
}